.v6_24 {
    width: 993px;
    height: 819px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v6_25 {
    width: 993px;
    height: 78px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v6_26 {
    width: 236px;
    height: 221px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 103px;
    left: 379px;
    border-radius: 50%;
  }
  .v6_27 {
    width: 367px;
    height: 77px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 371px;
    left: 313px;
    overflow: hidden;
  }
  .v6_28 {
    width: 899px;
    height: 293px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 473px;
    left: 49px;
    overflow: hidden;
  }
  